<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558553971191-omco966n81rjn2pfd1q7ctrjjbt9p0th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558553971191-omco966n81rjn2pfd1q7ctrjjbt9p0th</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Xuo2IKk4LBWm6fkGOsRNd-HnSwxSvi4</string>
	<key>GCM_SENDER_ID</key>
	<string>558553971191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyPushNotificationApp1</string>
	<key>PROJECT_ID</key>
	<string>my-push-notification-app-33865</string>
	<key>STORAGE_BUCKET</key>
	<string>my-push-notification-app-33865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558553971191:ios:24c35e1299b86b75</string>
	<key>DATABASE_URL</key>
	<string>https://my-push-notification-app-33865.firebaseio.com</string>
</dict>
</plist>